@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Luckiest+Guy&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
	font-family: "Luckiest Guy", cursive;
}

h2 {
	font-family: "Roboto Condensed", sans-serif;
}

p {
	font-family: "Caveat Brush", cursive;
}

#movie-card {
	border: 5px solid black;
	padding: 10px;
	margin: 5px;
	width: 500px;
}

.button {
	margin: 10px;
	background-color: cornflowerblue;
	border-radius: 5px;
}

.button.active {
	background-color: black;
	color: white;
}
